h4 {
  margin-bottom: 16px;
  opacity: 0.6;
}

h1 {
  font-size: 45px;
}

div ul {
  font-size: 14px;
  list-style: none;
  padding: 5px;
}

footer {
  font-size: 12px;
  opacity: 0.7;
  text-align: center;
}

div.container {
  font-family: "Play", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background: #c9ccd3;
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-blend-mode: lighten;
  max-width: 667px;
}

.searchLocation {
  opacity: 0.6;
}

.temperatureUnit {
  font-size: 14px;
  margin: 0;
}

.unit:hover {
  text-decoration: none;
}

#current-weather-icon {
  display: block;
  margin: 0 auto;
  width: 105px;
}

.card {
  border: none;
  margin-bottom: 1px;
  opacity: 0.6;
  transition: all 100ms ease-in;
  padding: 0;
}

.card:hover {
  opacity: 0.9;
}

.card-body {
  padding: 0;
}

#background-image {
  position: absolute;
  z-index: -1;
  left: 50%;
  max-width: 50%;
}

#current-description {
  text-transform: capitalize;
}

#searched-location {
  text-transform: capitalize;
}

#current-temperature {
  text-align: center;
}

#current-temp-max {
  font-weight: 900;
}
