h4 {
  opacity: 0.7;
}

h6 {
  margin-bottom: 0;
}

div ul {
  font-size: 15px;
  list-style: none;
  padding: 5px;
}

small {
  font-size: 15px;
}

footer {
  font-size: 12px;
  opacity: 0.7;
  text-align: center;
}

div.container {
  font-family: "Fredoka One", cursive;
  background-repeat: no-repeat;
  background-position: center;
  background: #c9ccd3;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-blend-mode: lighten;
  max-width: 690px;
}

.btn {
  border: 1px solid rgba(178, 177, 188, 0.5);
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  transition: all 100ms ease-in-out;
}

.btn:hover {
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.temperature-unit {
  font-size: 14px;
  margin: 0;
}

.unit:hover {
  text-decoration: none;
}

.unit.active {
  color: #000000;
  cursor: default;
}

.current-details {
  font-size: 15px;
  line-height: 1.5;
}

.card {
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  border: none;
  margin-bottom: 1px;
  transition: all 100ms ease-in-out;
  padding: 0;
}

.card:hover {
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.card-body {
  padding: 0;
}

.forecast-icon {
  display: block;
  margin: 0 auto;
  width: 60px;
}

.forecast-temp-max {
  font-weight: 900;
}

.forecast-temp-min {
  opacity: 0.8;
}

#background-image {
  position: absolute;
  left: 54%;
  top: 9%;
  width: 260px;
  max-width: 48%;
  max-height: 50%;
}

#search-location {
  opacity: 0.7;
}

#searched-location {
  font-size: 43px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: capitalize;
}

#current-description {
  font-size: 25px;
  text-transform: capitalize;
}

#current-date {
  font-size: 16px;
  padding-bottom: 10px;
}

#current-weather-icon {
  position: relative;
  width: 80px;
  line-height: 1;
}

#current-temperature {
  font-size: 70px;
  font-weight: 500;
  line-height: 1;
}

#current-temp-max {
  font-weight: 900;
}

#current-temp-min {
  opacity: 0.8;
}
