h1 {
  font-size: 45px;
}

h4 {
  opacity: 0.6;
}

h6 {
  margin-bottom: 0;
}

div ul {
  font-size: 14px;
  list-style: none;
  padding: 5px;
}

footer {
  font-size: 12px;
  opacity: 0.7;
  text-align: center;
}

div.container {
  font-family: "Play", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background: #c9ccd3;
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-blend-mode: lighten;
  max-width: 667px;
}

.btn {
  border: 1px solid rgba(178, 177, 188, 0.5);
  transition: all 100ms ease-in-out;
}

.btn:hover {
  background-color: rgba(73, 72, 74, 0.9);
}

.temperature-unit {
  font-size: 14px;
  margin: 0;
}

.unit:hover {
  text-decoration: none;
}

.unit.active {
  color: #000000;
  cursor: default;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  margin-bottom: 1px;
  transition: all 100ms ease-in-out;
  padding: 0;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.card-body {
  padding: 0;
}

.forecast-icon {
  display: block;
  margin: 0 auto;
  width: 60px;
}

#background-image {
  position: absolute;
  z-index: -1;
  left: 50%;
  max-width: 50%;
}

#search-location {
  background-color: rgba(255, 255, 255, 0.2);
}

#current-weather-icon {
  position: relative;
  width: 90px;
  line-height: 1;
}

#current-description {
  text-transform: capitalize;
}

#searched-location {
  text-transform: capitalize;
}

#current-temperature {
  font-size: 80px;
  font-weight: 500;
  line-height: 1;
}

#current-temp-max {
  font-weight: 900;
}
